@import "tailwindcss";

* {
  font-family: Outfit;
}

.font-Ovo {
  font-family: Ovo;
}

.lightHover {}

.lightHover:hover {
  background-color: #fcf4ff;
}

.darkHover {
  background-color: #2a004a;
}

.darkTheme {
  background-color: #724795;
}

.darkShadow:hover {
  box-shadow: 4px 4px 0 #000;
}

.lightShadow:hover {
  box-shadow: 4px 4px 0 #fff;
}